extends layout

block body
  .container.admin
    if msg
      .alert.alert-warning.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        strong= msg
    form.form-horizontal(role='form', action=url("admin/password"),method='post')
      .form-group
        label.col-xs-4.col-sm-2.control-label(for='old_pwd') 旧密码
        .col-sm-10.col-xs-8
          input#old_pwd.form-control(type='password', name='old_pwd', placeholder='旧密码')
      .form-group
        label.col-xs-4.col-sm-2.control-label(for='new_pwd') 新密码
        .col-sm-10.col-xs-8
          input#new_pwd.form-control(type='password', name='new_pwd', placeholder='新密码')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') 修改
