body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
.img-body {
  width: 970px;
  margin: auto;
}
.img-body p.description {
  font-size: 16px;
}
.admin {
  padding-top: 10px;
}
.menu {
  padding: 15px 0 15px 10px;
}
table.imgs-table th,
table.imgs-table td {
  text-align: center;
  vertical-align: middle;
}
table.imgs-table img {
  width: 25px;
  height: 25px;
}
table.imgs-table a.btn {
  margin-right: 10px;
}
#top-head {
  height: 35px;
  font: 15px/35px "微软雅黑";
  background: #2d2d2d;
  color: white;
}
#top-head a {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  color: white;
  display: block;
}
#top-head a:hover {
  background-color: #535353;
  text-decoration: none;
}
#top-head .clearfix {
  padding: 0 20px;
}
div.imgs-infinite {
  max-width: 320px;
}
div.imgs-infinite div.wrap-box {
  padding: 5px;
}
div.imgs-infinite div.wrap-box .img-box {
  padding: 4px;
  margin-top: 8px;
  background-color: #4b8df8;
  position: relative;
  display: block;
}
div.imgs-infinite div.wrap-box .img-box img {
  width: 302px;
}
div.imgs-infinite div.wrap-box .img-box img:hover {
  cursor: pointer;
}
div.imgs-infinite div.wrap-box .img-box span.title {
  display: block;
  padding: 8px 5px;
  width: 304px;
  color: white;
  font-size: 15px;
}
div.imgs-infinite div.wrap-box .img-box span.title a {
  color: white;
}
div.imgs-infinite div.wrap-box .img-box p.description {
  margin: 0;
  text-align: left;
  word-wrap: break-word;
  color: #CCCACA;
  font-size: 12px;
}
div.imgs-infinite div.wrap-box .img-box span.img-label {
  text-align: center;
  line-height: 30px;
  font: 18px/30px "微软雅黑";
  position: absolute;
  left: 38%;
  bottom: 50%;
  margin: 0 auto;
  transition: opacity 0.3s ease-in 0.1s;
  opacity: 0;
  filter: alpha(opacity=0);
}
div.imgs-infinite div.wrap-box .img-box:hover span.img-label {
  opacity: 1;
  filter: alpha(opacity=100);
}
.alert img.imgs {
  width: 100px;
  height: 100px;
}
#login {
  margin-top: 50px;
  max-width: 500px;
}
form {
  max-width: 500px;
}
.alert-success.info p {
  text-indent: 2em;
}
