body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
#top-head {
  height: 35px;
  font: 15px/35px "微软雅黑";
  background: #2d2d2d;
  color: white;
}
#top-head a {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  color: white;
  display: block;
}
#top-head a:hover {
  background-color: #535353;
  text-decoration: none;
}
#top-head .clearfix {
  padding: 0 20px;
}
#login {
  margin-top: 50px;
  max-width: 500px;
}
body {
  background-color: #CCCACA;
}
.body {
  width: 800px;
  margin: 0 auto;
  background-color: white;
}
.body h1 {
  padding: 20px 0;
  margin: 0;
}
.body h4 {
  padding: 10px 0 0 10px;
}
.body .form-group {
  border-bottom: 1px dashed #CCCACA;
}
