@import 'color';
@import 'base';
@import 'top';
// @import 'admin';
// @import 'infinite';
// @import 'delete';

#login {
  margin-top: 50px;
  max-width: 500px;
}

body {
  background-color: #CCCACA;
}

.body {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  h1 {
    padding: 20px 0;
    margin: 0;
  }
  h4 {
    padding: 10px 0 0 10px;
  }
  .form-group {
    border-bottom: 1px dashed #CCCACA;
  }
  p {
    
  }
}

