@import 'color';
@import 'base';
@import 'admin';
@import 'top';
@import 'infinite';
@import 'delete';

#login {
  margin-top: 50px;
  max-width: 500px;
}

form {
  max-width: 500px;
}

.alert-success.info {
  p {
    text-indent: 2em;
  }
}
